body 
{
    margin: 0;
    padding: 0;

}
.content 
{
    width: 100%;
    height: auto;
    padding: 5px;
    background-color:#0d192b;
}

.navbar 
{
    width: 100%;
    height: auto;
    margin: auto;
}
.navbar ul li 
{
    display: inline-block;
    padding: 1px 25px;
}
.navbar a 
{
    color: white;
    text-decoration: none;
}

.dropdown:hover .dropdown-menu 
{
    display: block !important;
}
.carousel-item img 
{
    width: 100%;
    height: 350px;
}
.modal-dialog
{
    max-width: 60%;
    max-height: auto;
    margin-top: 6%;
}
.login-sidebar
{
    width: 50%;
    height:auto;
    background: url('../images/login.avif') no-repeat;
    background-size: cover;
}
.text-overlay
{
    width: 100%;
    height: 100%;
    background-color: rgba(5,0,0,0.8);
}
.footer 
{
    width: 100%;
    height: auto;
}
.footer ul li 
{
    text-decoration: none;
    list-style-type: none;
    text-decoration: none;

}
.footer a 
{
    text-decoration: none;
    list-style-type: none;
    color: white;
}
/* mobile device */
@media only screen and (min-width:320px) and (max-width:480px)
{
.navbar ul li 
{
display: block;
padding: 1px 20px;
}
.carousel-item img 
{
width: 100%;
height: 220px;
}
.login-sidebar
{
    display: none !important;
}
.modal-dialog
{
    max-width: 90% !important;
    height: auto !important;
    margin: auto !important;
    margin-top: 5% !important;
}
.login-frm
{
    width: 80%;
    height: auto;
    margin: auto;
    margin: 0 !important;
    padding: 25px !important;
}
.form-control 
{
    width: 50% !important;
    height: auto !important;
    margin: 0 !important;
    padding: 7px !important;
}

}

/* tab device */
@media only screen and (min-width:481px) and (max-width:767px)
{

}

/* desktop device */
@media only screen and (min-width:768px) and (max-width:1024px)
{

}

/* large desktop device */
@media only screen and (min-width:1025px) and (max-width:1440px)
{

}